annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.2
asttokens==3.0.0
attrs==25.1.0
backoff==2.2.1
bcrypt==4.3.0
Beaker==1.12.1
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
blivet-gui==2.6.0
boto3==1.40.25
botocore==1.40.25
Brlapi==0.8.6
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.1
chromadb==1.0.15
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-346-build/cockpit-346/tmp/wheel/cockpit-346-py3-none-any.whl#sha256=2af49639fd2aa79e24420fc5b0a0b73de71dbbb2cc5c2e6eceb2e7abd55a2f8b
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.3.2
crypt_r==3.13.1
cryptography==44.0.0
cupshelpers==1.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.3.2
dbus_next==0.2.3
debugpy==1.8.16
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
distro==1.9.0
dnf==4.23.0
durationpy==0.10
executing==2.2.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.18.0
Flask==3.1.2
flatbuffers==25.2.10
fonttools==4.58.4
fros==1.1
fsspec==2025.7.0
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.2.3
grpcio==1.74.0
h11==0.16.0
hf-xet==1.1.5
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.34.3
humanfriendly==10.0
humanize==4.12.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipykernel==6.30.1
ipython==9.5.0
ipython_pygments_lexers==1.1.1
iso639==0.1.4
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kaggle==1.7.4.5
kiwisolver==1.4.8
kubernetes==33.1.0
langtable==0.0.69
libcomps==0.1.22
libdnf==0.74.0
louis==3.33.0
lxml==5.3.2
Mako==1.2.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mmh3==5.2.0
mpmath==1.3.0
nest-asyncio==1.6.0
nftables==0.1
numpy==2.3.1
oauthlib==3.3.1
olefile==0.47
onnxruntime==1.22.1
opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
orjson==3.11.1
overrides==7.7.0
packaging==24.2
parso==0.8.5
Paste==3.10.1
pbr==6.1.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.1.0
platformdirs==4.4.0
playwright==1.54.0
ply==3.11
posthog==5.4.0
productmd==1.45
prompt_toolkit==3.0.52
protobuf==6.31.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.13
pybase64==1.4.2
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.11.7
pydantic_core==2.33.2
pyee==13.0.0
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.50.0
pyinotify==0.9.6
pykickstart==3.62
pylatexenc==2.10
pyOpenSSL==25.0.0
pyparsing==3.2.3
pyparted==3.13.0
PyPika==0.48.9
pyproject_hooks==1.2.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.8.2
python-dotenv==1.1.1
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-slugify==8.0.4
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyynl @ file:///builddir/build/BUILD/kernel-6.16.5-build/kernel-6.16.5/linux-6.16.5-200.fc42.x86_64/tools/net/ynl
pyzmq==27.1.0
qiskit==2.1.0
RapidFuzz==3.11.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==2.0.0
rich==14.1.0
rpds-py==0.25.0
rpm==4.20.1
rsa==4.9.1
rustworkx==0.16.0
s3transfer==0.13.1
scipy==1.16.0
selinux @ file:///builddir/build/BUILD/libselinux-3.8-build/libselinux-3.8/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.8-build/selinux-3.8/python/sepolicy
setools==4.5.1
setuptools==74.1.3
shellingham==1.5.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.0
soupsieve==2.7
stack-data==0.6.3
stevedore==5.4.1
sympy==1.14.0
systemd-python==235
tenacity==9.1.2
text-unidecode==1.3
tokenizers==0.21.4
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.12.2
urllib3==2.3.0
uvicorn==0.35.0
uvloop==0.21.0
virtualenv==20.34.0
watchfiles==1.1.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xkbregistry==0.3
yt-dlp==2025.8.27
zipp==3.23.0
